<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/syles.css}">
    <title>Articulos</title>
</head>
<body>
    <header th:replace="plantilla :: header"></header>
    <nav th:replace="plantilla :: navbar"></nav>
    <div class="container">
        <span class="fs-5" th:text="'Pedido Numero: '+${pedido.getCodPedido()}"></span>
        <br>
        <span class="fs-5" th:text="'Con fecha: '+${pedido.getFechaPedido()}"></span>
        <br>
        <a th:href="@{/clt/pedido}" class="btn btn-danger">Regresar</a>
    </div>
    <div class="container">
        <form th:action="@{/clt/pedido/agg-articulo}" th:object="${detalle}" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" id="cedula" class="form-control" placeholder="Codigo Articulo" th:field="*{articulo.codArticulo}">
                </div>
                <div class="col">
                    <input type="text" hidden="true" id="pedido" class="form-control" placeholder="Pedido" th:field="*{pedido.codPedido}">
                </div>
                <div class="col">
                    <input type="text" id="nombre" class="form-control" placeholder="Cantidad" th:field="*{cantidad}">
                </div>
            </div>
            <input type="submit" class="btn btn-warning" value="Agregar">
        </form>
    </div>
    <div class="container">
        <table class="table table-bordered" id="tabla-pedidos">
            <thead class="table-dark text-center">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Peso</th>
                <th>Capacidad</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="detalle : ${detalles}">
                <td th:text="${detalle.articulo.codArticulo}"></td>
                <td th:text="${detalle.articulo.nomArticulo}"></td>
                <td th:text="${detalle.articulo.color}"></td>
                <td th:text="${detalle.articulo.peso}"></td>
                <td th:text="${detalle.articulo.capacidad}"></td>
                <td th:text="${detalle.cantidad}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="table table-bordered" id="tabla-estudiantes">
            <thead class="table-dark text-center">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Peso</th>
                <th>Capacidad</th>
                <th>Planta</th>
                <th>Existencias</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="artPlanta : ${artPlantas}">
                <td th:text="${artPlanta.getArticulo().getCodArticulo()}"></td>
                <td th:text="${artPlanta.getArticulo().getNomArticulo()}"></td>
                <td th:text="${artPlanta.getArticulo().getColor()}"></td>
                <td th:text="${artPlanta.getArticulo().getPeso()}"></td>
                <td th:text="${artPlanta.getArticulo().getCapacidad()}"></td>
                <td th:text="${artPlanta.getPlanta().getCodPlanta()}"></td>
                <td th:text="${artPlanta.getExistencias()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="plantilla :: footer"></div>

</body>
</html>