<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/syles.css}">
    <title>Plantas</title>
</head>
<body>
    <header th:replace="plantilla :: header"></header>
    <nav th:replace="plantilla :: navbar"></nav>
    <div class="container">
        <form th:action="@{/planta}" th:object="${planta}" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" id="cedula" class="form-control" placeholder="Codigo" th:field="*{codPlanta}">
                </div>
                <div class="col">
                    <input type="text" id="nombre" class="form-control" placeholder="Nombre" th:field="*{nomPlanta}">
                </div>
                <div class="col">
                    <input type="text" id="saldo" class="form-control" placeholder="Direccion"  th:field="*{direccion}">
                </div>
                <div class="col">
                    <input type="text" id="limite" class="form-control" placeholder="Telefono" th:field="*{telefono}">
                </div>
                <div class="col">
                    <input type="submit" value="Crear" class="btn btn-primary mb-3">
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <table class="table table-bordered" id="tabla-estudiantes">
            <thead class="table-dark text-center">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="planta : ${plantas}">
                <td th:text="${planta.getCodPlanta()}"></td>
                <td th:text="${planta.getNomPlanta()}"></td>
                <td th:text="${planta.getDireccion()}"></td>
                <td th:text="${planta.getTelefono()}"></td>
                <td>
                    <a th:href="@{'/planta/'+${planta.getCodPlanta()}}" class="btn btn-warning">Editar</a>
                    <a th:href="@{'/planta/eliminar/'+${planta.getCodPlanta()}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="plantilla :: footer"></div>

</body>
</html>