<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/syles.css}">
    <title>Clientes</title>
</head>
<body>
    <header th:replace="plantilla :: header"></header>
    <nav th:replace="plantilla :: navbar"></nav>
    <div class="container">
        <form th:action="@{/adm/cliente}" th:object="${cliente}" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" id="cedula" class="form-control" placeholder="Cedula" th:field="*{codCliente}">
                </div>
                <div class="col">
                    <input type="text" id="nombre" class="form-control" placeholder="Nombre" th:field="*{nomCliente}">
                </div>
                <div class="col">
                    <input type="text" id="saldo" class="form-control" placeholder="Saldo"  th:field="*{saldo}">
                </div>
                <div class="col">
                    <input type="text" id="limite" class="form-control" placeholder="Limite Credito" th:field="*{limiteCredito}">
                </div>
                <div class="col">
                    <input type="text" id="descuento" class="form-control" placeholder="Descuento %" th:field="*{pctDescuento}">
                </div>
                <div class="col">
                    <input type="submit" value="Crear" class="btn btn-primary mb-3">
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <table class="table table-bordered" id="tabla-estudiantes">
            <thead class="table-dark text-center">
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th>Limite Credito</th>
                <th>Descuento%</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.getCodCliente()}"></td>
                <td th:text="${cliente.getNomCliente()}"></td>
                <td th:text="${cliente.getSaldo()}"></td>
                <td th:text="${cliente.getLimiteCredito()}"></td>
                <td th:text="${cliente.getPctDescuento()}"></td>
                <td>
                    <a th:href="@{'/adm/cliente/'+${cliente.getCodCliente()}}" class="btn btn-warning">Editar</a>
                    <a th:href="@{'/adm/cliente/eliminar/'+${cliente.getCodCliente()}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="plantilla :: footer"></div>

</body>
</html>