<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/syles.css}">
    <title>Editar CLiente</title>
</head>
<body>
<header th:replace="plantilla :: header"></header>
<nav th:replace="plantilla :: navbar"></nav>
<div class="container">
    <form th:action="@{/adm/sucursal/${sucursal.getCodSucursal()}}" th:object="${sucursal}" method="POST">
        <div class="form-group" hidden="true">
            <label for="cedula">Cedula</label>
            <input type="text" id="cedula" class="form-control" placeholder="Cedula" th:value="${sucursal.getCodSucursal()}" th:field="*{codSucursal}">
        </div>
        <div class="form-group">
            <label for="nombre">Direccion</label>
            <input type="text" id="nombre" class="form-control" placeholder="Direccion" th:value="${sucursal.getDireccion()}" th:field="*{direccion}">
        </div>
        <div class="form-group">
            <label for="saldo">Telefono</label>
            <input type="text" id="saldo" class="form-control" placeholder="Telefono" th:value="${sucursal.getTelefono()}" th:field="*{telefono}">
        </div>
        <div class="form-group">
            <label for="limite">Ciudad</label>
            <input type="text" id="limite" class="form-control" placeholder="Ciudad" th:value="${sucursal.getCiudad()}" th:field="*{ciudad}">
        </div>
        <label>Cliente</label>
        <div class="col">
            <select class="form-control" th:field="*{cliente.codCliente}"  id="dropOperator">
                <option th:value="${sucursal.cliente.codCliente}" th:text="${sucursal.cliente.nomCliente}"></option>
                <option th:each="c : ${clientes}" th:value="${c.codCliente}" th:text="${c.codCliente}+' - '+${c.nomCliente}"></option>
            </select>
        </div>
        <input class="btn btn-warning" type="submit" value="Editar">
    </form>
</div>
<div th:replace="plantilla :: footer"></div>
</body>
</html>